<form action="/search" method="post">
  <label for="maxMiles">Enter max mileage</label>
  <input id="maxMiles" name="maxMiles" type="number">
  <label for="maxPrice">Enter max price</label>
  <input id="maxPrice" name="maxPrice" type="number">
  <button type="submit">Find cars!</button>
</form>